<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krooshkins gallerie | Галерея Сани Крушкина</title>
</head>

<body>
<div class="page">

    {{#> content-block}}
    {{/content-block}}

    {{> partials/header.hbs }}

    {{> partials/sidebar.hbs }}

    {{> partials/footer.hbs }}

    {{> partials/photoswipe-template.hbs }}

</div>

</body>

</html>
