{{#> layouts/base }}
  {{#*inline "content-block"}}

  <main class="main" data-router-wrapper>

    <div data-router-view="about">
      <div class="wrapper about-wrapper">

        <h1 class="main-title">О сайте</h1>

        <section class="about-section">
          <p class="info">
            Сайт создан в 2021 с помощью готовых модулей:
          </p>
          <ul class="modules">
            <li>
              <a href="https://photoswipe.com/">PhotoSwipe</a> для детального просмотра фотографии;
            </li>
            <li>
              <a href="https://masonry.desandro.com/">Masonry</a> для создания плиточной галереи на главной странице;
            </li>
            <li>
              <a href="https://highway.js.org/">Highway.js</a> для создания навигации без перезагрузки страницы;
            </li>
            <li>
              <a href="https://wicky.nillia.ms/headroom.js/">Headroom.js</a> для анимации шапки сайта при скролле;
            </li>
          </ul>
        </section>

      </div>
    </div>

  </main>

  {{/inline}}
{{/layouts/base}}
