{{#> layouts/base }}
  {{#*inline "content-block"}}

    <main class="main" data-router-wrapper>

      <div data-router-view="contacts">

        <div class="wrapper contacts-wrapper">

          <h1 class="main-title">Контакты</h1>

          <section class="contacts-section">
            <ul>
              <li>
                <a href="tg://resolve?domain=actuallyshithead">
                  Телеграмм Крушкина
                </a>
              </li>
              <li>
                <a href="tg://resolve?domain=octo_camo">
                  Телеграм автора сайта
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/actuallyshithead/">
                  Инстаграм Крушкина
                </a>
              </li>
            </ul>
          </section>

        </div>

      </div>

    </main>

  {{/inline}}
{{/layouts/base}}
